<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog about Belarus</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="header" class="header">
    <a href="/" class="header__home-link">
        <img
                class="header__logo"
                th:src="@{/images/logo.svg}"
                alt="blog-logo"
                width="32px" loading="lazy"
        >
        <span>My Blog about Belarus</span>
    </a>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-item">
                <a href="/" class="header__menu-link">Art</a>
            </li>
            <li class="header__menu-item">
                <a href="/" class="header__menu-link">Food</a>
            </li>
            <li class="header__menu-item">
                <a href="/" class="header__menu-link">Events</a>
            </li>
            <li class="header__menu-item">
                <a href="/" class="header__menu-link">Interesting Places</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>